{% extends "base.html" %}
{% block extra_style %}
    <style>
        .highlight {
            background-color: yellow;
        }

        .result {
            border-bottom: 2pt solid royalblue;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }

        .accordion-button {
            padding: .5rem;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Doc search</h1>
    <form method="GET" action="" class="">
        <div class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <label class="" for="query">Search for</label>
                <input id='query' class="form-control form-control-sm" value="{{q}}" type="text" name="query" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="accordion " id="accordionForm">
                    <div class="accordion-item " >
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Extra choices
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionForm">
                            <div class="accordion-body">
                                <div class="row row-cols-lg-auto g-3 align-items-center">
                                    <div class="col-12">
                                        <label class="" for="path">Folder name</label>
                                        <input id='path' class="form-control form-control-sm" value="{{path}}" type="text" name="path" placeholder="">
                                    </div>
                                    <div class="col-12">
                                        <label class="" for="ext">File extension</label>
                                        <input id='ext' class="form-control form-control-sm" value="{{ext}}" type="text" name="ext" placeholder="">
                                    </div>

                                    <div class="col-12">
                                        <label class="" for="created-from">Created date from</label>
                                        <input id='created-from' class="form-control form-control-sm" value="{{created_from}}" type="date" name="created-from" placeholder="">
                                    </div>
                                    <div class="col-12">
                                        <label class="" for="created-to">Created date to</label>
                                        <input id="created-to" class="form-control form-control-sm" value="{{created_to}}" type="date" name="created-to" placeholder="">
                                    </div>
                                    <div class="col-12">
                                        <label class="" for="modified-from">Modified date from</label>
                                        <input id='modified-from' class="form-control form-control-sm" value="{{modified_from}}" type="date" name="modified-from" placeholder="">
                                    </div>
                                    <div class="col-12">
                                        <label class="" for="modified-to">Modified date to</label>
                                        <input id="modified-to" class="form-control form-control-sm" value="{{modified_to}}" type="date" name="modified-to" placeholder="">
                                    </div>
                                    <div class="col-12">
                                        <label class="" for="accessed-from">Access date from</label>
                                        <input id='accessed-from' class="form-control form-control-sm" value="{{accessed_from}}" type="date" name="accessed-from" placeholder="">
                                    </div>
                                    <div class="col-12">
                                        <label class="" for="accessed-to">Access date to</label>
                                        <input id="accessed-to" class="form-control form-control-sm" value="{{accessed_to}}" type="date" name="accessed-to" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Search">
        <a href="/" class="btn btn-info" >Clear</a>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#helpModal">
            How to search
        </button>
    </form>
<hr />

<!-- Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">How to search</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><b>Simple:</b> Enter a word and it will search for it using stemming rules for the configured language(i.e if you search for "apple" it will also return documents containing "apples")</li>
                    <li><b>Phrase:</b> If you want to search for an exact phrase, f.e "hello, world" you need to enter it between quotes. If you enter two words without the quotes it will search for documents containing one of these words. So searching for hello, world (without quotes) will return documents containing hello and documents containing word (see boolean search for more explanation)</li>
                    <li><b>Wildcard:</b> You can do wildcard search: Searching for app* will return documents containing apple, applying or application. Use ? for a single letter, * for any number of characters and + for at least one character. The wildcard character cannot be on the start of your query, i.e *ppl will not work.</li>
                    <li><b>Boolean:</b> You can use boolean operators like AND OR and NOT to create more complex queries. Things like (apple AND orange) OR (not strawberry) should work. </li>
                    <li><b>Always include/exclude:</b> You can use the + or - operators before a word (or phrase) to include or exclude documents containing it. For example +apple +orange -strawberry will return documents containing apple and orange but not strawberry.</li>
                    <li><b>Distance:</b> You can search by distance using the ~ operator. For example, "commit local"~3 will search for documents that have the words commit and local on a distance less than 3. That means that a document containing the phrase "commit all changes to local dev" will be returned but a document with the phrase "commit all changes to production and local dev" will not work.</li>
                    <li><b>Filtering:</b> You can use the extra search choices to filter based on the name of the folder that contains the document or its created/modified/accessed date. For example if you write appl* to the folder it will only return documents that are contained within a folder named apples or applications (this includes all ancestor folders).</li>
                    <li><b>Combinations:</b> You can use all the above in whatever combinations: For example +"commit local"~3 +download -conf* will search documents containing the word commit near the word local and also contain the word download but do not contain any words starting with conf</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% if q != "" %}

    <h3>Results</h3>

    Showing {{ showingFrom }} - {{ showingTo }} from {{ total }} results<br />
    Total time: {{ totalTime / 1000000 }} ms
<nav aria-label="Pagination">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{{ prev_page }}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">{{ page }}</a></li>
        <li class="page-item"><a class="page-link" href="{{ next_page }}">Next</a></li>
    </ul>
</nav>

    <ul>
    {% for r in results %}
        <li class="result">
            <h4 class="header">{{ r.name }}</h4>

            <a href='/download?path={{ r.id|escape(strategy="url_param")  }}'>{{ r.id }}</a><br />
            Created: {{ r.created }} / Modified: {{ r.modified }} / Accessed: {{ r.accessed }}<br />

            <h5>Matches</h5>
            <ul>
                {% for f in r.hfragments %}
                    <li>{{ f|raw }}</li>
                {% endfor %}
            </ul>

            <small >
                <div class="accordion " id='accordion-content-{{ loop.index }}'>
                    <div class="accordion-item " >
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target='#collapse-{{ loop.index }}' aria-expanded="true" aria-controls="collapse-{{ loop.index }}">
                                Show text
                            </button>
                        </h2>
                        <div id='collapse-{{ loop.index }}' class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent='#accordion-content-{{ loop.index }}'>
                            <div class="accordion-body">
                                {{ r.text|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </small>
        </li>

    {% else %}
        <li>Nothing found!</li>
    {% endfor %}
    </ul>

<nav aria-label="Pagination">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{{ prev_page }}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">{{ page }}</a></li>
        <li class="page-item"><a class="page-link" href="{{ next_page }}">Next</a></li>
    </ul>
</nav>

{% endif %}
{% endblock %}